@{
    ViewData["Title"] = "Eliza Golfs!";
}

<head>

    <link rel="icon" type="image/png" href="~/golf-ball-and-tee.png" />

</head>
<div class="text-center">
    <h1>Eliza Loves To Golf!</h1>
    <p>Eliza has been golfing for over 13  years! Her favorite golf club is the Driver!</p>
    <img src="~/img_6346.jpeg" width="600"/>
    <br />
    <br />
    <p>Eliza has been golfing for a long time! \n always enjoys being out on the golf couse, except for when it is raining.\n Sh3layed competitively for a few years, and has loved golfing ever siince!
    <img src="~/hobble-creek-golf-course-400x400.jpg" />
    <p>Her favorite course to play is Hobble Creek</p>
</div>
